In [1]:
#Firstly importing library that can work on excel data

In [3]:
import pandas as pd

In [4]:
#data shoould be in form of csv so we can read it with the help of our library

In [5]:
df = pd.read_csv("spam.csv")

In [6]:
#for calling first 5 data info

In [7]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [8]:
#for calling top last data info

In [9]:
df.tail()

     Category                                            Message
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

In [10]:
#Splitting data for better analysis with the help of groupby

In [11]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [12]:
#applying lambda function & then calling top 6 entries

In [13]:
df['spam']=df['Category'].apply(lambda x: 1 if x=='spam' else 0)
df.head(6)

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0
5     spam  FreeMsg Hey there darling it's been 3 week's n...     1

In [14]:
#spliting data into train & test by importing library

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.Message,df.spam)

In [16]:
#for transforming giving text into vector on the basis of each word occurs in the entire data

In [17]:
from sklearn.feature_extraction.text import CountVectorizer

v = CountVectorizer()

X_train_count = v.fit_transform(X_train.values)


X_train_count.toarray()[:2]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [18]:
# importing algorithm

In [19]:
from sklearn.naive_bayes import MultinomialNB

model = MultinomialNB()

model.fit(X_train_count,y_train)

MultinomialNB()

In [20]:
#predicting model for email

In [21]:
emails = [ 'Hey mohan, can we get together to watch footbal game tomorrow?',
    'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!']
emails_count = v.transform(emails)
model.predict(emails_count)

array([0, 1], dtype=int64)

In [22]:
#know transforming testing and predicting

In [23]:
X_test_count = v.transform(X_test)
model.score(X_test_count, y_test)

0.9870782483847811

In [24]:
#importing library that can collect all transform data

In [25]:
from sklearn.pipeline import Pipeline
clf = Pipeline([('vectorizer', CountVectorizer()),('nb', MultinomialNB())])

In [27]:
#checking is it working by classifier

In [28]:
clf.fit(X_train, y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [29]:
#by classifier predicting overall

In [30]:
clf.score(X_test,y_test)

0.9870782483847811

In [31]:
#by classifier predicting emails

In [32]:
clf.predict(emails)

array([0, 1], dtype=int64)